.table-header {
  th {
    background: #ccc;
    cursor: pointer;
    padding: 10px;
    text-align: left;
  }
  .isStickyTop {
    position: sticky;
    z-index: 2;
    top: 0;
  }
  .isSticky {
    position: sticky;
  }
}
